/*CONTACT FORM SECTION */
section {
    width: 50%;
    float: left;
    box-sizing:border-box;
}

.contact-form-wrapper {
    padding-left:100px;
    margin-top:50px;
    border-right:2px solid #000;
}

.contact-form-wrapper iframe {
    width:80%;
    height:650px;
}

.map-wrapper iframe {
    width:550px;
    height:450px;
    display:block;
    margin: 50 auto;
}